.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

  .v-text-field {
    background: #fff;
    max-width: 350px;
  }
}

.table {
  .v-switch {
    display: inline-block;
    padding-top: 2px;
  }

  tr {
    &.active {
      background: #efefef;
    }
  }

  th {
    font-size: 13px !important;
    font-weight: 700 !important;
    color: #000 !important;
    height: unset !important;
    padding-top: 11px !important;
    padding-bottom: 11px !important;
    border-bottom: 1px solid #ddd !important;
    text-align: center !important;

    &.text-left {
      text-align: left !important;
    }
  }

  td {
    font-size: 13px !important;
    color: #000 !important;
    height: unset !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-bottom: 1px solid #efefef !important;
    text-align: center !important;

    &.text-left {
      text-align: left !important;
    }

    .link {
      color: #000;
      text-decoration: unset;
      text-align: left;
      cursor: pointer;

      &:hover {
        color: $main-color;
      }
    }

    &.align-top {
      vertical-align: top !important;
      padding-top: 12px !important;
    }
  }
}

.create-layout {
  padding: 40px !important;
  box-shadow: none;
  min-height: calc(100vh - $header-height - 88px);
  background: #fff;

  &__sub-title {
    border-bottom: 1px solid #ddd;
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;

    &__text {
      font-size: 16px;
      font-weight: 700;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;

    .v-btn {
      min-width: 150px;
    }
  }
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  li {
    display: flex;

    .label {
      min-width: 100px;
      color: #666;
      padding-top: 11px;
    }
  }
}
