.back-bg {
  background: gray;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  max-width: $max-layout;
  height: 218px;
  z-index: -1;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 100%;
    filter: blur(12.5px);
    -webkit-filter: blur(12.5px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}

.webtoon-info {
  display: grid;
  padding-top: 20px;
  grid-template-columns: auto 1fr;
  column-gap: 12px;
  margin-bottom: 21px;
  grid-template-areas:
    "a b"
    "a c"
    "a ."
    "a d";

  &__img {
    grid-area: a;
  }

  &__label {
    grid-area: b;
  }

  &__title {
    grid-area: c;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }

  &__text {
    grid-area: d;
    color: #fff;
    font-size: 12px;
  }
}

.character-list {
  display: grid;
  padding-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  &__item {
    font-size: 12px;
    cursor: pointer;
    width: 100%;

    &:hover {
      p {
        font-weight: bold;
      }
    }

    p {
      margin-top: 2px;
      @include textOverflow(100%, 1);
    }
  }
}

@media all and (min-width: 500px) {
  .character-list {
    gap: 16px;
    display: flex;

    &__item {
      width: 84px;
    }
  }
}
