@import "../common";

.join-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;

  label {
    margin-bottom: 8px;
    display: block;
  }

  .btn-wrap {
    display: flex;
    gap: 10px;
  }
}
