.container {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-bottom: 30%;

  .title {
    font-size: 100px;
  }

  .message {
    font-size: 16px;
    margin-top: 4px;
  }

  .control-box {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 14px;
  }
}

.control-box {
  .v-btn {
    padding: 0 10px;
    height: 40px;
    font-size: 14px !important;

    &.v-btn--variant-elevated {
      background: #efefef;
    }

    &.v-btn--variant-outlined {
      border: 1px solid #efefef;
    }
  }
}
