/*******************************************************************
// 위치 : src/assets/scss/common.scss
// 설명 : 공통 클래스 정의
********************************************************************/

.text-main-color {
  color: $main-color !important;
}

//btn
@mixin btn24() {
  width: 24px;
  height: 24px !important;
  min-width: unset;
  padding: 0;
  box-shadow: none;
  background: transparent;

  &:hover,
  &:focus {
    box-shadow: none;
  }
}

.v-btn.prev-btn {
  @include btn24();

  .v-btn__content {
    &::after {
      content: "";
      @include maskIcon(
        "~/assets/iconsets/svg/system/arrow-left-line.svg",
        24px
      );
    }
  }
}

.v-btn.share-btn {
  @include btn24();

  .v-btn__content {
    &::after {
      content: "";
      @include maskIcon("~/assets/iconsets/svg/system/share-line.svg", 24px);
    }
  }
}

.bottom-big-btn {
  background: $main-color !important;
  color: #fff !important;
  width: 100%;
  position: fixed !important;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 60px !important;
  border-radius: 0 !important;
  font-size: 15px !important;
  max-width: $max-layout !important;

  &.v-btn--disabled {
    background: #dfe3e7 !important;

    .v-btn__overlay {
      display: none;
    }
  }
}

.divider {
  border: none;
  height: 10px !important;
  position: relative;

  &::after {
    content: "";
    @include divider();
    width: calc(100% + 40px);
    position: absolute;
    left: -20px;
    top: 0;
  }
}
