$min-layout: 375px;
$max-layout: 1200px;

$main-color: #9747fe;
$sub-color: #e4d6fc;
$red_primary: #ff6651;

$header-height: 60px;

@mixin maskIcon($root, $size, $color: currentColor) {
  -webkit-mask-image: url($root);
  mask-image: url($root);
  background-color: $color;
  -webkit-mask-size: $size;
  width: $size;
  height: $size;
  -webkit-mask-repeat: no-repeat;
}

@mixin textOverflow($width: 100%, $max: 2) {
  width: $width;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: $max; // 원하는 라인수
  -webkit-box-orient: vertical;
  white-space: unset;
}

@mixin divider($height: 10px, $color: #f9f9f9) {
  height: $height;
  max-height: $height;
  background: $color;
  width: 100%;
  border: none;
  display: block;
}

@mixin line($color: #000, $height: 12px, $margin: 6px, $width: 1px) {
  content: "";
  display: inline-block;
  width: $width;
  background: $color;
  height: $height;
  margin: 0 $margin;
  vertical-align: middle;
  max-width: $width;
  flex: 0 0 $width;
}
