.header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 100%;
  z-index: 10;
  background: #fff;
  max-width: $max-layout;
  transition: background 0.2s;

  &.underline {
    border-bottom: 1px solid #f1f1f1;
  }

  &.transparent {
    color: #fff;
    background: transparent;
  }

  &.is-scroll {
    background: #fff;
    color: #000;
    border-bottom: 1px solid #f1f1f1;
  }

  &__inner {
    height: $header-height;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 20px;
    max-width: 100% !important;
  }

  &__left-area {
    position: absolute;
    left: 20px;
  }

  &__center-area {
    margin: 0 auto;
  }

  &__right-area {
    position: absolute;
    right: 20px;
  }
}

.logo {
  font-size: unset;
  display: flex;

  .v-btn {
    padding: 0;
  }
  svg {
    width: 100%;
    height: 20px;
  }
}

.title {
  font-size: 15px;
  font-weight: 400;
}

.account-wrap {
  margin-left: auto;
  display: flex;
  gap: 20px;

  .v-btn {
    font-size: 14px;
    color: #333;
    padding: 0 !important;
    min-width: unset !important;
  }
}

.user-info {
  .v-icon {
    width: 24px;
    height: 24px;
    color: #ddd;
    margin-right: 5px;
  }
}

.auth-list {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15) !important;
  .v-list-item {
    font-size: 14px;
  }
}
