.webtoon-character {
  width: 100%;
  min-width: 75px;
  height: 117px;
  border-radius: 3px;
  overflow: hidden;

  &:hover {
    img {
      transform: scale(1.2);
    }
  }

  img {
    object-fit: cover;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-left: -1px;
    transition: 0.3s;
  }
}
