.webtoon-character {
  width: 100%;
  min-width: 75px;
  height: 117px;
  max-height: 100%;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &:hover {
    img {
      transform: scale(1.2);
    }
  }

  img {
    object-fit: cover;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-left: -1px;
    transition: 0.3s;
  }

  svg {
    width: 100%;
    height: fit-content;
    color: #999;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}
