/*******************************************************************
// 위치 : src/assets/scss/vuetify/vuetify-reset.scss
// 설명 : vuetify 클래스를 수정 할 경우 사용
         nuxt.config.ts에 import하여 사용
********************************************************************/

.v-input--density-default,
.v-input--density-default .v-field--variant-filled {
  --v-input-control-height: 20px;
  --v-input-padding-top: 0px;
}

.--v-field-padding-bottom,
.v-input--density-default .v-field--no-label {
  --v-field-padding-bottom: 0px;
}

.v-theme--light {
  --v-high-emphasis-opacity: 1; //텍스트 opacity 설정
  --v-medium-emphasis-opacity: 1; //폼 텍스트 opacity 설정
}

.v-selection-control--density-default {
  --v-selection-control-size: unset; //폼 아이콘 범위
}

.v-selection-control--disabled {
  opacity: 1;
}

//input
.v-text-field {
  //우측 아이콘
  .v-field__append-inner {
    display: flex;
    align-items: center;
    padding: 0;

    .v-icon {
      width: 20px;
      height: 20px;
      color: #000;
      opacity: 1;
      margin-left: 10px;
    }
  }

  //x 표시
  .v-field__clearable {
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0;

    .v-icon {
      width: 20px;
      height: 20px;
      color: #000;
      opacity: 1;
    }
  }

  &.v-input--error {
    .v-input__details {
      padding: 6px 0 0 0 !important;
    }

    .v-messages {
      color: #ff6651 !important;
    }
  }

  .v-field__overlay {
    display: none;
  }
  .v-field__input {
    padding: 0;
  }

  .v-field__outline {
    &::before {
      display: none;
    }
  }

  .v-field--variant-outlined {
    .v-field__outline__start,
    .v-field__outline__end {
      border-color: #eaedf0;
    }

    .v-field__outline {
      --v-field-border-opacity: 1;
    }

    &.v-field--focused {
      .v-field__outline {
        --v-field-border-width: 1px;
      }
    }

    input {
      &::placeholder {
        color: #aeb3b7;
        opacity: 1;
        font-weight: 400;
      }
    }

    &.v-field--error {
      border: 1px solid $red_primary;
    }
  }

  &.v-input--disabled {
    background: #f5f7f8;
    color: #aeb3b7;

    .v-field--disabled {
      opacity: 1;
    }
  }
}

//input details & error message
.v-input {
  .v-input__details {
    min-height: unset;
    padding-top: 0;

    .v-messages {
      min-height: unset;
    }
  }

  &.v-input--error {
    .v-input__details {
      padding-top: 6px;
    }
  }
}

//radio
.v-radio {
  gap: 8px;

  .v-icon--size-default {
    font-size: 16px;
  }

  .v-label {
    font-size: 14px;
    line-height: 20px;
  }

  .v-selection-control__wrapper {
    width: 16px;
  }
}

//checkbox
.v-checkbox {
  .v-checkbox-btn {
    gap: 8px;
  }

  .v-icon--size-default {
    font-size: 18px;
  }

  .v-selection-control {
    min-height: unset;
  }

  .v-selection-control__wrapper {
    width: 18px;
  }

  .v-label {
    font-size: 14px;
    line-height: 21px;
  }
  .v-selection-control__input {
    &::before {
      border-radius: 0;
    }
  }
}

.v-btn {
  box-shadow: none;
  border-radius: 3px;

  .v-btn__overlay {
    display: none;
  }

  &--icon.v-btn--density-compact {
    width: unset;
    height: unset;
  }

  &.v-btn--elevated:hover,
  &.v-btn--elevated:focus {
    box-shadow: none;
  }

  &__content {
    width: 100%;
  }
}
