/*******************************************************************
// 위치 : src/assets/scss/vuetify/vuetify-reset.scss
// 설명 : vuetify 클래스를 수정 할 경우 사용
         nuxt.config.ts에 import하여 사용
********************************************************************/

.v-container {
  min-width: $min-layout;
  padding: 20px !important;
  margin: 0 auto !important;
  max-width: $max-layout;
}

.v-main {
  position: relative;
  z-index: 1;
  padding-bottom: 80px;
}

.v-input--density-default,
.v-input--density-default .v-field--variant-filled {
  --v-input-control-height: 20px;
  --v-input-padding-top: 0px;
}

.--v-field-padding-bottom,
.v-input--density-default .v-field--no-label {
  --v-field-padding-bottom: 0px;
}

.v-theme--light {
  --v-high-emphasis-opacity: 1; //텍스트 opacity 설정
  --v-medium-emphasis-opacity: 1; //폼 텍스트 opacity 설정
}

.v-selection-control--density-default {
  --v-selection-control-size: unset; //폼 아이콘 범위
}

.v-selection-control--disabled {
  opacity: 1;
}

//input
.v-text-field {
  .v-field__overlay {
    display: none;
  }
  .v-field__input {
    padding: 0;
  }

  .v-field__outline {
    &::before {
      display: none;
    }
  }
}

//radio
.v-radio {
  gap: 8px;

  .v-icon--size-default {
    font-size: 16px;
  }

  .v-label {
    font-size: 14px;
    line-height: 20px;
  }

  .v-selection-control__wrapper {
    width: 16px;
  }
}

//checkbox
.v-checkbox {
  .v-checkbox-btn {
    gap: 8px;
  }

  .v-icon--size-default {
    font-size: 18px;
  }

  .v-selection-control {
    min-height: unset;
  }

  .v-selection-control__wrapper {
    width: 18px;
  }

  .v-label {
    font-size: 14px;
    line-height: 21px;
  }
  .v-selection-control__input {
    &::before {
      border-radius: 0;
    }
  }
}
